body {
  background-color: rgb(188, 252, 124);
}

.container {
  height: 100vh;
}

.tasksList{
  height: 400px;
  overflow: auto;
}

.lineThr {
  text-decoration: line-through; 
}

.fa-x {
  cursor: pointer;
}